.logo_svg{
  width:200px;
  height: 100%;
  padding-top: 5px;
}
/* *{
  background-color: blue;
  height: 100px;
  border: 1px solid black;
} */
/* Style The Dropdown Button */
.dropbtn {
  font-size: 14px;
  padding: 8px;
  font-size: 8px;
  border: none;
  cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* JUMBOTRON */
.jumbotron{
  background-image: url(../digital-ocean/img/jumbo.svg);
}
.Jumbotron_txt_container{
  padding-top: 40px;
}
.jumbotron_text{
  color: white;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 15px;
}
.jumbotron_txt{
  color: white;
  font-size: 30px;
}
.data{
  min-width: 250px;
  background-color: white;
  margin-top: 30px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}
.data_90{
  width: 90%;
}
.data_blue{
  display: block;
  color: blue;
  font-size: 20px;
}
.email{
  width: 90%;
  padding: 5px;
  font-weight: bold;
  margin: 5px 5%;
  display: block;
}
.button{
  white-space: nowrap;
  padding: 5px 138px;
  background-color: lightblue;
  font-weight: bold;
  border-radius: 4px;
}
