.logo_svg{
  width:200px;
  height: 100%;
  padding-top: 5px;
}
.center_txt{
  text-align: center;
  padding: 10px 0;
}
/* *{
  background-color: blue;
  height: 100px;
  border: 1px solid black;
} */
/* Style The Dropdown Button */
.dropbtn {
  font-size: 14px;
  padding: 8px;
  border: none;
  cursor: pointer;
  display: block
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* JUMBOTRON */
.jumbotron{
  background-image: url(../digital-ocean/img/jumbo.svg);
}
.Jumbotron_txt_container{
  padding-top: 40px;
}
.jumbotron_text{
  color: white;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 15px;
}
.jumbotron_txt{
  color: white;
  font-size: 25px;
}
.padbot20{
  padding-bottom: 20px;
}
.data{
  min-width: 250px;
  background-color: white;
  margin-top: 30px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  padding: 35px 10px;
  margin-left: 60px;
  }
.data_txt{
  font-size: 35px;
  font-weight: bold;
}
.data_blue{
  display: block;
  color: blue;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 10px;
}
.input{
  width: 100%;
  padding: 5px;
  font-weight: bold;
  display: block;
  margin: 5px 0;
}
.button{
  white-space: nowrap;
  font-weight: bold;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 5px 0px;
  margin-top: 5px;
}
.lightblue{
  background-color: lightblue;
}
.img-google{
  object-fit: contain;
  height: 20px;
  padding-left: 14px;
  float:left;
}
.sign{
  margin-right: 35px;
}
.shadow{
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
  margin-bottom: 20px;
}
.data_footer{
  font-size: bold;
  margin: 10px 0px;
}
.a{
  color: blue;
  text-decoration: underline;
}
/* PARTNER */
.h3_partner{
  color: grey;
}
.partner{
  background-color: #F3F5F9;
  padding: 30px 10px;
}
.img_part{
  width: 100%;
  padding-left: 20px;
}
.txt_blue{
  color: blue;
  text-align: center;
  padding: 20px 0px;
}
.partner_ul li{
  display: inline-block;
  width: calc(100% / 6 - 10px);
}
/* INFO */
.info_ul{
  border-left: 1px solid grey;
  text-align: left;
  padding-left: 10px;
  margin-left: 80px;
}
.info_a{
color: grey;
font-size: 20px;
padding: 7px 0px;;
display: block;
}
.info_a:hover{
  color: blue;
}
.info_img_block{
  text-align: left;
  padding-right: 101px;
  padding-top: 25px;
}
.info_h4{
  padding: 10px 0px;
  display: block;
}
.designed_section{
  background-color: lightgrey;
}
.designed_txt{
  padding: 30px 0px;
}
.designed_img{
  padding: 60px 20px;;
  vertical-align: middle;
  width: 70%;
}
.fa-chevron-left{
  height: 100px;
  vertical-align: middle;
}
/* FEATURES */
.features{
  margin: 0px 50px;
}
/* TABLE */
.table{
  background-color: blue;
}
.table_ul{
  margin: 20px 30px;
}
.table_li{
  border-bottom: 1px solid white;
  padding: 15px 0px;
}
.table_txt1{
  font-weight: bold;
  color: white;
  float: left;
  padding-left: 15px;
}
.table_txt2{
  color: lightblue;
  padding-right: 40px;
}
.table_txt3{
  color: lightgrey;
  float: right;
  padding-right: 15px;
}
/* versione tablet md */
@media screen and (min-width:769px) and (max-width:992px){
  .data{
    min-width: 250px;
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
    width: 90%;
    padding: 35px 10px;
    margin-left: 20px;
    margin-right: 40px;
    }
    .img_part{
      width: calc(100% - 10px);
      padding-right: 10px;
      padding-left: 0px;
    }
    .partner_ul li{
      width: calc( 100% / 6 - 10px);
    }
    .info_ul{
      border-left: 1px solid grey;
      text-align: left;
      padding-left: 10px;
      margin-left: 0px;
    }
    .img_part:last-child{
      padding-right: 0px;
      padding-left: 0px;
    }
    .features{
      margin: 0px 0px;
    }
}
/* versione mobile xs */
@media screen and (max-width:768px){
  .data{
    min-width: 250px;
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
    width: 90%;
    padding: 35px 10px;
    margin: auto;
    }
    .info_ul{
      border-left: 1px solid grey;
      text-align: left;
      padding-left: 10px;
      margin-left: 0px;
    }
    .partner_ul li{
      width: calc( 100% / 2 - 40px );
    }
    .fa-chevron-left:before {
      display: none;
    }
    .fa-chevron-right:before {
      display: none;
    }
    .features{
      margin: 0px 0px;
    }
